body{
    /* @apply  w-full   bg-[url("/images/bg.png")] bg-center bg-cover bg-no-repeat   */
       background: rgb(17 24 39 );
}
/* .container{
    @apply bg-[#1F2937]
} */

html {
    scroll-behavior: smooth;
  }

  * {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
    padding: 0;
}